test/request-response-samples/GetItemInformation__should_ignore_default_namespace_from_schema/soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions 
  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" 
  xmlns:wsa10="http://www.w3.org/2005/08/addressing" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" 
  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="SAMPLE"
  name="SampleService" 
  targetNamespace="SAMPLE" >
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="SAMPLE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetItemInformation">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfItem" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Item">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ItemBase">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="AvailState" type="tns:AvailableState" />
              <xs:element minOccurs="0" maxOccurs="1" name="Warehouses" type="tns:ArrayOfWarehouse" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ItemBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ItemNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SupplierId" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="SupplierName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RequestedQuantity" type="tns:Quantity" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Quantity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Id" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AvailState" type="tns:AvailableState" />
          <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AvailableState">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AvailState" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWarehouse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Warehouse" nillable="true" type="tns:Warehouse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Warehouse">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Default" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfQuantity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Quantity" nillable="true" type="tns:Quantity" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetItemInformationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetItemInformationResult" type="tns:GetBackItems" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="GetBackItems">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:BaseGetBack">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfItem" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BaseGetBack">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ISampleService_GetItemInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemInformation" />
  </wsdl:message>
  <wsdl:message name="ISampleService_GetItemInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="ISampleService">
    <wsdl:operation name="GetItemInformation">
      <wsdl:input wsaw:Action="SAMPLE/ISampleService/GetItemInformation" message="tns:ISampleService_GetItemInformation_InputMessage" />
      <wsdl:output wsaw:Action="SAMPLE/ISampleService/GetItemInformationResponse" message="tns:ISampleService_GetItemInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISampleService" type="tns:ISampleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItemInformation">
      <soap:operation soapAction="SAMPLE/ISampleService/GetItemInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port name="BasicHttpBinding_SampleService" binding="tns:BasicHttpBinding_ISampleService">
      <soap:address location="http://example.com/v1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>