test/request-response-samples/execFile__valid_xml_generated_on_request_with_complex_type_element_form_default_missing/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  targetNamespace="urn:FileExecutor"
  xmlns:tns="urn:FileExecutor"
  xmlns:FileExecutor="urn:FileExecutor"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:FileExecutor="urn:FileExecutor"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:tns="urn:FileExecutor"
      targetNamespace="urn:FileExecutor"
      attributeFormDefault="unqualified">
      <element name="execFileParams" type="tns:execFileParams"/>
      <complexType name="execFileParams">
        <sequence>
          <element name="fileName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <element name="arguments" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          <element name="base64EncodedStdIn" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <element name="startDetached" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
        </sequence>
      </complexType>
      <element name="execFileResult" type="tns:execFileResult"/>
      <complexType name="execFileResult">
        <sequence>
          <element name="base64EncodedStdOut" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </sequence>
      </complexType>
    </schema>
  </types>
  <message name="execFileRequest">
    <part name="execFileRequest" element="FileExecutor:execFileParams"/>
  </message>
  <message name="execFileResponse">
    <part name="execFileResponse" element="FileExecutor:execFileResult"/>
  </message>
  <portType name="FileExecutorPortType">
    <operation name="execFile">
      <input message="tns:execFileRequest"/>
      <output message="tns:execFileResponse"/>
    </operation>
  </portType>
  <binding name="FileExecutorBinding" type="tns:FileExecutorPortType">
    <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="execFile">
      <SOAP:operation type="document"/>
      <input>
        <SOAP:body use="literal"/>
      </input>
      <output>
        <SOAP:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FileExecutorService">
    <port name="FileExecutorPortType" binding="tns:FileExecutorBinding">
      <SOAP:address location="http://127.0.0.1/"/>
    </port>
  </service>
</definitions>
