test/wsdl/builtin_types.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.BuiltinTypes.com/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.BuiltinTypes.com/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.BuiltinTypes.com/">
      <xs:element name="durationElement" type="xs:duration" />
      <xs:element name="dateTimeElement" type="xs:dateTime" />
      <xs:element name="timeElement" type="xs:time" />
      <xs:element name="dateElement" type="xs:date" />
      <xs:element name="gYearMonthElement" type="xs:gYearMonth" />
      <xs:element name="gYearElement" type="xs:gYear" />
      <xs:element name="gMonthDayElement" type="xs:gMonthDay" />
      <xs:element name="gDayElement" type="xs:gDay" />
      <xs:element name="gMonthElement" type="xs:gMonth" />
      <xs:element name="booleanElement" type="xs:boolean" />
      <xs:element name="base64BinaryElement" type="xs:base64Binary" />
      <xs:element name="hexBinaryElement" type="xs:hexBinary" />
      <xs:element name="floatElement" type="xs:float" />
      <xs:element name="doubleElement" type="xs:double" />
      <xs:element name="anyURIElement" type="xs:anyURI" />e
      <xs:element name="QNameElement" type="xs:QName" />
      <xs:element name="NOTATIONElement" type="xs:NOTATION" />
      <xs:element name="sstringElement" type="xs:string" />
      <xs:element name="normalizedstringElement" type="xs:normalizedString" />
      <xs:element name="tokenElement" type="xs:token" />
      <xs:element name="languageElement" type="xs:language" />
      <xs:element name="NameElement" type="xs:Name" />
      <xs:element name="NMTOKENElement" type="xs:NMTOKEN" />
      <xs:element name="NCNameElement" type="xs:NCName" />
      <xs:element name="NMTOKENSElement" type="xs:NMTOKENS" />
      <xs:element name="IDElement" type="xs:ID" />
      <xs:element name="IDREFElement" type="xs:IDREF" />
      <xs:element name="ENTITYElement" type="xs:ENTITY" />
      <xs:element name="IDREFSElement" type="xs:IDREFS" />
      <xs:element name="ENTITIESElement" type="xs:ENTITIES" />
      <xs:element name="decimalElement" type="xs:decimal" />
      <xs:element name="integerElement" type="xs:integer" />
      <xs:element name="nonPositiveIntegerElement" type="xs:nonPositiveInteger" />
      <xs:element name="longElement" type="xs:long" />
      <xs:element name="nonNegativeIntegerElement" type="xs:nonNegativeInteger" />
      <xs:element name="negativeIntegerElement" type="xs:negativeInteger" />
      <xs:element name="intElement" type="xs:int" />
      <xs:element name="unsignedLongElement" type="xs:unsignedLong" />
      <xs:element name="positiveIntegerElement" type="xs:positiveInteger" />
      <xs:element name="shortElement" type="xs:short" />
      <xs:element name="unsignedIntElement" type="xs:unsignedInt" />
      <xs:element name="byteElement" type="xs:byte" />
      <xs:element name="unsignedShortElement" type="xs:unsignedShort" />
      <xs:element name="unsignedByteElement" type="xs:unsignedByte" />
      <xs:element name="stringElement" type="xs:string" />
    </xs:schema>
  </wsdl:types>


  <wsdl:message name="Request">
    <wsdl:part name="duration" element="tns:durationElement" />
    <wsdl:part name="dateTime" element="tns:dateTimeElement" />
    <wsdl:part name="time" element="tns:timeElement" />
    <wsdl:part name="date" element="tns:dateElement" />
    <wsdl:part name="gYearMonth" element="tns:gYearMonthElement" />
    <wsdl:part name="gYear" element="tns:gYearElement" />
    <wsdl:part name="gMonthDay" element="tns:gMonthDayElement" />
    <wsdl:part name="gDay" element="tns:gDayElement" />
    <wsdl:part name="gMonth" element="tns:gMonthElement" />
    <wsdl:part name="boolean" element="tns:booleanElement" />
    <wsdl:part name="base64Binary" element="tns:base64BinaryElement" />
    <wsdl:part name="hexBinary" element="tns:hexBinaryElement" />
    <wsdl:part name="float" element="tns:floatElement" />
    <wsdl:part name="double" element="tns:doubleElement" />
    <wsdl:part name="anyURI" element="tns:anyURIElement" />
    <wsdl:part name="QName" element="tns:QNameElement" />
    <wsdl:part name="NOTATION" element="tns:NOTATIONElement" />
    <wsdl:part name="string" element="tns:stringElement" />
    <wsdl:part name="normalizedstring" element="tns:normalizedStringElement" />
    <wsdl:part name="token" element="tns:tokenElement" />
    <wsdl:part name="language" element="tns:languageElement" />
    <wsdl:part name="Name" element="tns:NameElement" />
    <wsdl:part name="NMTOKEN" element="tns:NMTOKENElement" />
    <wsdl:part name="NCName" element="tns:NCNameElement" />
    <wsdl:part name="NMTOKENS" element="tns:NMTOKENSElement" />
    <wsdl:part name="ID" element="tns:IDElement" />
    <wsdl:part name="IDREF" element="tns:IDREFElement" />
    <wsdl:part name="ENTITY" element="tns:ENTITYElement" />
    <wsdl:part name="IDREFS" element="tns:IDREFSElement" />
    <wsdl:part name="ENTITIES" element="tns:ENTITIESElement" />
    <wsdl:part name="decimal" element="tns:decimalElement" />
    <wsdl:part name="integer" element="tns:integerElement" />
    <wsdl:part name="nonPositiveInteger" element="tns:nonPositiveIntegerElement" />
    <wsdl:part name="long" element="tns:longElement" />
    <wsdl:part name="nonNegativeInteger" element="tns:nonNegativeIntegerElement" />
    <wsdl:part name="negativeInteger" element="tns:negativeIntegerElement" />
    <wsdl:part name="int" element="tns:intElement" />
    <wsdl:part name="unsignedLong" element="tns:unsignedLongElement" />
    <wsdl:part name="positiveInteger" element="tns:positiveIntegerElement" />
    <wsdl:part name="short" element="tns:shortElement" />
    <wsdl:part name="unsignedInt" element="tns:unsignedIntElement" />
    <wsdl:part name="byte" element="tns:byteElement" />
    <wsdl:part name="unsignedShort" element="tns:unsignedShortElement" />
    <wsdl:part name="unsignedByte" element="tns:unsignedByteElement" />
  </wsdl:message>

  <wsdl:message name="StringRequest">
    <wsdl:part element="tns:sstringElement" name="string"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="Response">
    <wsdl:part name="nonPositiveInteger" element="tns:nonPositiveIntegerElement" />
    <wsdl:part name="body" element="tns:nonNegativeIntegerElement"/>
  </wsdl:message>

  <wsdl:portType name="PortType">
    <wsdl:operation name="Operation">
      <wsdl:input message="tns:Request"/>
      <wsdl:output message="tns:Response"/>
    </wsdl:operation>
    <wsdl:operation name="StringOperation">
      <wsdl:input message="tns:StringRequest"/>
      <wsdl:output message="tns:Response"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Binding" type="tns:PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation">
      <soap:operation soapAction="http://www.BuiltinTypes.com/Operation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StringOperation">
      <soap:operation soapAction="http://www.BuiltinTypes.com/StringOperation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Service">
    <wsdl:port name="Port" binding="tns:Binding">
      <soap:address location="http://www.BuiltinTypes.com/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

