test/wsdl/extended_element.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:SOAP-ENV="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:tns="http://www.Dummy.com"  xmlns:n="http://www.Dummy.com/Name/Types"  xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.Dummy.com">
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="http://www.Dummy.com/Common/Types" schemaLocation="./Common.xsd"/>
      <xs:import namespace="http://www.Dummy.com/Name/Types" schemaLocation="./Name.xsd"/>
    </xs:schema>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/v1" xmlns:e="http://www.example.com/v1">
      <xs:element name="ExtendedDummyRequest">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="n:DummyRequest">
              <xs:sequence>
                <xs:element name="ExtendedDummyField" type="xs:string" minOccurs="0"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="DummyRequest">
    <wsdl:part name="DummyRequest" element="e:ExtendedDummyRequest"/>
  </wsdl:message>
  <wsdl:message name="DummyResponse">
    <wsdl:part name="DummyResponse" element="n:DummyResponse"/>
  </wsdl:message>
  <wsdl:portType name="DummyPortType">
    <wsdl:operation name="Dummy">
      <wsdl:input message="tns:DummyRequest"/>
      <wsdl:output message="tns:DummyResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DummyBinding" type="tns:DummyPortType">
    <SOAP-ENV:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Dummy">
      <SOAP-ENV:operation soapAction="http://www.Dummy.com#Dummy" style="document"/>
      <wsdl:input>
        <SOAP-ENV:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <SOAP-ENV:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DummySave">
      <SOAP-ENV:operation soapAction="http://www.Dummy.com#DummySave" style="document"/>
      <wsdl:input>
        <SOAP-ENV:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <SOAP-ENV:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DummyService">
    <wsdl:port name="DummyPortType" binding="tns:DummyBinding">
      <SOAP-ENV:address location="http://www.Dummy.com/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
