test/wsdl/ExtendedName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:c="http://www.Dummy.com/Common/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.Dummy.com/Name/Types" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.Dummy.com/Common/Types" schemaLocation="Common.xsd"/>
	<xs:element name="ExtendedDummyRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DummyField1" type="xs:string" minOccurs="0"/>
				<xs:element name="DummyField2" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
