test/wsdl/marketo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Marketo API Version 2_6 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.marketo.com/mktows/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" name="mktows" targetNamespace="http://www.marketo.com/mktows/">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.marketo.com/mktows/">
      <xs:complexType name="ArrayOfString">
        <xs:sequence>
          <xs:element name="stringItem" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ParamsGetLeadChanges">
        <xs:sequence>
          <xs:element name="startPosition" type="tns:StreamPosition" minOccurs="1" maxOccurs="1" nillable="false"/>
          <xs:element name="activityFilter" type="tns:ActivityTypeFilter" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="activityNameFilter" type="tns:ArrayOfString" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="batchSize" type="xs:int" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xs:element name="leadSelector" type="tns:LeadSelector" minOccurs="0" maxOccurs="1" nillable="false"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="paramsGetLeadChanges" type="tns:ParamsGetLeadChanges"/>
      <xs:element name="successGetLeadChanges" type="tns:SuccessGetLeadChanges"/>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="GetLeadChangesRequest">
    <wsdl:part name="paramsGetLeadChanges" element="tns:paramsGetLeadChanges"/>
  </wsdl:message>
  <wsdl:message name="GetLeadChangesResponse">
    <wsdl:part name="successGetLeadChanges" element="tns:successGetLeadChanges"/>
  </wsdl:message>

  <wsdl:portType name="MktowsPort">
    <wsdl:operation name="getLeadChanges">
      <wsdl:documentation>Get changes for all leads.
      </wsdl:documentation>
      <wsdl:input message="tns:GetLeadChangesRequest"/>
      <wsdl:output message="tns:GetLeadChangesResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="MktowsApiSoapBinding" type="tns:MktowsPort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="getLeadChanges">
          <soap:operation soapAction="http://www.marketo.com/mktows/getLeadChanges" />
          <wsdl:input>
              <soap:header use="literal" part="authentication" message="tns:AuthenticationHeader" />
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="MktMktowsApiService">
      <wsdl:port name="MktowsApiSoapPort" binding="tns:MktowsApiSoapBinding">
          <soap:address location="https://000-hwq-023.mktoapi.com/soap/mktows/2_6" />
      </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
