test/wsdl/recursive2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bugrepro.com/account" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://bugrepro.com/account" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://bugrepro.com/account">
            <s:element name="AddAttribute">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Requests" type="tns:ArrayOfAddAttributeRequest" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfAddAttributeRequest">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="AddAttributeRequest" nillable="true" type="tns:AddAttributeRequest" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="AddAttributeRequest">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="RequestIdx" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="tns:AccountIdentifier" />
                    <s:element minOccurs="0" maxOccurs="1" name="Attr" type="tns:AccountAttribute" />
                    <s:element minOccurs="0" maxOccurs="1" name="RequestedBy" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="RequestedByLogin" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="requestItems" type="tns:ArrayOfRequestItem" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="AccountIdentifier">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="SystemNamespace" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="ResellerId" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="CustomerNum" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="AccountUid" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="AccountAttribute">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="AttributeId" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="AttributeUid" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="ProductAttributeUid" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="IsTemplateAttribute" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="TemplateInternalName" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="DisplayStatus" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="ReadOnly" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="CanBeModified" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="AccountElements" type="tns:ArrayOfAccountElement" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfAccountElement">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="AccountElement" nillable="true" type="tns:AccountElement" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="AccountElement">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="ElementId" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="ElementUid" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="ProductAttributeElementUid" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="DisplayStatus" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="ReadOnly" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="CanBeModified" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="ChildElements" type="tns:ArrayOfAccountElement" />
                </s:sequence>
            </s:complexType>
            <s:element name="AddAttributeResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="AddAttributeResult" type="s:int" />
                        <s:element minOccurs="0" maxOccurs="1" name="Response" type="tns:ArrayOfOperationResponse" />
                        <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfOperationResponse">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="OperationResponse" nillable="true" type="tns:OperationResponse" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfString">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="OperationResponse">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="RequestIdx" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="messages" type="tns:ArrayOfString" />
                    <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
                    <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:ArrayOfResponseItem" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfResponseItem">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ResponseItem" nillable="true" type="tns:ResponseItem" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ResponseItem">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="ItemValue" type="s:string" />
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="AddAttributeSoapIn">
        <wsdl:part name="parameters" element="tns:AddAttribute" />
    </wsdl:message>
    <wsdl:message name="AddAttributeSoapOut">
        <wsdl:part name="parameters" element="tns:AddAttributeResponse" />
    </wsdl:message>
    <wsdl:portType name="AccountOperationsSoap">
        <wsdl:operation name="AddAttribute">
            <wsdl:input message="tns:AddAttributeSoapIn" />
            <wsdl:output message="tns:AddAttributeSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountOperationsSoap" type="tns:AccountOperationsSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="AddAttribute">
            <soap:operation soapAction="http://bugrepro.com/account/AddAttribute" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header message="tns:AddAttributeSecureHeader" part="SecureHeader" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountOperations">
        <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
        <wsdl:port name="AccountOperationsSoap" binding="tns:AccountOperationsSoap">
            <soap:address location="http://bugrepro.com/Account/AccountOperations.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
