test/wsdl/nsTypeConflict/SchemaA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://test.example.com/SchemaA" xmlns="http://test.example.com/SchemaA" elementFormDefault="qualified">
  <xs:element name="RequestA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fieldA" minOccurs="0" type="TypeA">
          <xs:annotation>
            <xs:documentation xml:lang="en">Test field using TypeA</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="DetailTypeA">
    <xs:sequence>
      <xs:element name="valueA" type="xs:integer" />
      <xs:element name="labelA" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TypeA">
    <xs:annotation>
      <xs:documentation xml:lang="en">TypeA from SchemaA</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="childA" maxOccurs="20" type="DetailTypeA">
        <xs:annotation>
          <xs:documentation xml:lang="en">Child element A</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
