test/request-response-samples/getAppointmentNumber__should_be_able_to_parse_response/soap.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.w3.org/2001/XMLSchema-instance">
<wsdl:documentation>appointmentLocal</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema-instance">
         <xs:element name="getAppointmentNumber">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="id" nillable="true" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="number" type="ns0:number"/>
         <xs:complexType name="number">
            <xs:sequence>
               <xs:element minOccurs="0" name="number" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
         <xs:element name="DataServiceFault">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="current_params" type="xs:string"/>
                  <xs:element name="current_request_name" type="xs:string"/>
                  <xs:element name="nested_exception" type="xs:string"/>
                  <xs:element name="source_data_service">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="location" type="xs:string"/>
                           <xs:element name="default_namespace" type="xs:string"/>
                           <xs:element name="description" type="xs:string"/>
                           <xs:element name="data_service_name" type="xs:string"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="ds_code" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="REQUEST_STATUS" type="xs:string"/>
         <xs:element name="DATA_SERVICE_RESPONSE">
            <xs:complexType>
               <xs:sequence>
                  <xs:any minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
  </wsdl:types>
  <wsdl:message name="DataServiceFault">
    <wsdl:part name="parameters" element="ns1:DataServiceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppointmentNumberResponse">
    <wsdl:part name="parameters" element="ns0:number">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAppointmentNumberRequest">
    <wsdl:part name="parameters" element="ns0:getAppointmentNumber">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="appointmentLocalPortType">
    <wsdl:operation name="getAppointmentNumber">
<wsdl:documentation/>
      <wsdl:input message="ns0:getAppointmentNumberRequest" wsaw:Action="urn:getAppointmentNumber">
    </wsdl:input>
      <wsdl:output message="ns0:getAppointmentNumberResponse" wsaw:Action="urn:getAppointmentNumberResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns0:DataServiceFault" wsaw:Action="urn:getAppointmentNumberDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="appointmentLocalSOAP12Binding" type="ns0:appointmentLocalPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAppointmentNumber">
      <soap12:operation soapAction="urn:getAppointmentNumber" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="appointmentLocalSOAP11Binding" type="ns0:appointmentLocalPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAppointmentNumber">
      <soap:operation soapAction="urn:getAppointmentNumber" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="appointmentLocalHttpBinding" type="ns0:appointmentLocalPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getAppointmentNumber">
      <http:operation location="getAppointmentNumber"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="appointmentLocal">
    <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:appointmentLocalSOAP11Binding">
      <soap:address location="http://localhost:8080/"/>
    </wsdl:port>
    <wsdl:port name="SecureHTTPEndpoint" binding="ns0:appointmentLocalHttpBinding">
      <http:address location="http://localhost:8080/"/>
    </wsdl:port>
    <wsdl:port name="SOAP11Endpoint" binding="ns0:appointmentLocalSOAP11Binding">
      <soap:address location="http://localhost:8080/"/>
    </wsdl:port>
    <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:appointmentLocalSOAP12Binding">
      <soap12:address location="http://localhost:8080/"/>
    </wsdl:port>
    <wsdl:port name="HTTPEndpoint" binding="ns0:appointmentLocalHttpBinding">
      <http:address location="http://localhost:8080/"/>
    </wsdl:port>
    <wsdl:port name="SOAP12Endpoint" binding="ns0:appointmentLocalSOAP12Binding">
      <soap12:address location="http://localhost:8080/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>