test/request-response-samples/addPets__force_namespaces/soap.wsdl

<wsdl:definitions
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://tempuri.org/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://tempuri.org/">
  <wsdl:types>
    <s:schema elementFormDefault="unqualified" targetNamespace="http://tempuri.org/">
      <s:element name="addPets">
        <s:complexType name="petList">
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="pet" nillable="true" type="tns:Pet"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addPetsResponse" type="xs:string">
      </s:element>
      <s:complexType name="Pet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addPetsSoapIn">
    <wsdl:part name="parameters" element="tns:addPets"/>
  </wsdl:message>
  <wsdl:message name="addPetsSoapOut">
    <wsdl:part name="parameters" element="tns:addPetsResponse"/>
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="addPets">
      <wsdl:input message="tns:addPetsSoapIn"/>
      <wsdl:output message="tns:addPetsSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addPets">
      <soap:operation soapAction="http://tempuri.org/addPets" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addPets">
      <soap12:operation soapAction="http://tempuri.org/addPets" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:20400/Service1.asmx"/>
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:20400/Service1.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
