test/request-response-samples/IndienenBericht__should_work_with_deeply_nested_XML_messages/Vecozo.Berichtuitwisseling.Push.Types.V3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.vecozo.nl/berichtuitwisseling/types/v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:types="http://schemas.vecozo.nl/berichtuitwisseling/types/v3" elementFormDefault="qualified">

  <xs:simpleType name="UUID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ConversatieId">
    <xs:restriction base="xs:string">
      <xs:length value="36"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ReferentieId">
    <xs:restriction base="xs:string">
      <xs:maxLength value="150"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
