test/request-response-samples/getMessage__does_not_use_schema_xmlns/types10.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beadto10="urn:de:brak:bea:application:dto:soap:dto10" attributeFormDefault="qualified"
	elementFormDefault="qualified" targetNamespace="urn:de:brak:bea:application:dto:soap:types10">
	<xsd:import namespace="urn:de:brak:bea:application:dto:soap:dto10" schemaLocation="dto10.xsd" />
	<xsd:element name="getMessageRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="sessionId" type="xsd:string">
				</xsd:element>
				<xsd:element name="markAsExport" type="xsd:boolean">
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="getMessageResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="message" type="beadto10:MessageResponseSoapDTO">
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>