test/request-response-samples/getAvailability__should_not_fail_without_children/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="/wsdl-viewer.xsl"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:foo="http://foo.bar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:partner="http://foo.bar/partner/" targetNamespace="http://foo.bar/partner/" name="partner">
    <wsdl:import namespace="http://foo.bar/doIt/" location="imported.wsdl"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://foo.bar/partner/">
            <xsd:complexType name="GetAvailabilityRequest">
                <xsd:sequence>
                    <xsd:element name="departure" type="xsd:string" maxOccurs="1" minOccurs="1"/>

                </xsd:sequence>
                <xsd:attribute name="currency" type="xsd:string" use="optional"/>
            </xsd:complexType>

            <xsd:complexType name="GetAvailabilityResponse">
                <xsd:sequence>
                    <xsd:element name="vacancy" type="xsd:string" maxOccurs="1" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getAvailabilityRequest">
        <wsdl:part name="getAvailabilityRequest" type="partner:GetAvailabilityRequest"/>
    </wsdl:message>
    <wsdl:message name="getAvailabilityResponse">
        <wsdl:part name="getAvailabilityResponse" type="partner:GetAvailabilityResponse"/>
    </wsdl:message>

    <wsdl:portType name="partnerGetAvailabilityPortType">
        <wsdl:operation name="getAvailability">
            <wsdl:input message="partner:getAvailabilityRequest"/>
            <wsdl:output message="partner:getAvailabilityResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="partnerGetAvailabilityBinding" type="partner:partnerGetAvailabilityPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAvailability">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://foo.bar/partner/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://foo.bar/partner/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="partner">
        <wsdl:port binding="partner:partnerGetAvailabilityBinding" name="partnerGetAvailabilityPort">
            <soap:address location="https://foo.bar/services/090/partner/getAvailability/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
