test/request-response-samples/Dummy__should_handle_null_args/name.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:c="http://www.Dummy.com/Common/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.Dummy.com/Name/Types" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="common.xsd" schemaLocation="common.xsd"/>
	<xs:element name="DummyRequest"></xs:element>
	<xs:element name="DummyResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DummyResult" type="c:DummyResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
