test/request-response-samples/RetrieveFareQuoteDateRange__should_handle_child_namespaces/childs/childxs7.wsdl

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/Service/Pricing.Request.FareQuote"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/Service/Pricing.Request.FareQuote">
    <xs:complexType name="RetrieveFareQuote">
        <xs:complexContent mixed="false">
            <xs:extension base="q1:TransactionInfo" xmlns:q1="http://tempuri.org/Service/Request">
                <xs:sequence>
                    <xs:element name="CurrencyOfFareQuote" type="q1:Enumerations.CurrencyCodeTypes" />
                    <xs:element name="PromotionalCode" nillable="true" type="xs:string" />
                    <xs:element name="IataNumberOfRequestor" nillable="true" type="xs:string" />
                    <xs:element name="CorporationID" type="xs:int" />
                    <xs:element name="FareFilterMethod" type="q2:Enums.FareFilterMethodType" xmlns:q2="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="FareGroupMethod" type="q3:Enums.FareGroupMethodType" xmlns:q3="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="InventoryFilterMethod" type="q4:Enums.InventoryFilterMethodType" xmlns:q4="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="FareQuoteDetails" nillable="true" type="tns:ArrayOfFareQuoteDetail" /></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="RetrieveFareQuote" nillable="true" type="tns:RetrieveFareQuote" />
    <xs:complexType name="ArrayOfFareQuoteDetail">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="FareQuoteDetail" nillable="true" type="tns:FareQuoteDetail"
            /></xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfFareQuoteDetail" nillable="true" type="tns:ArrayOfFareQuoteDetail" />
    <xs:complexType name="FareQuoteDetail">
        <xs:sequence>
            <xs:element name="Origin" nillable="true" type="xs:string" />
            <xs:element name="Destination" nillable="true" type="xs:string" />
            <xs:element name="UseAirportsNotMetroGroups" type="xs:boolean" />
            <xs:element minOccurs="0" name="UseAirportsNotMetroGroupsAsRule" type="xs:boolean" />
            <xs:element minOccurs="0" name="UseAirportsNotMetroGroupsForFrom" type="xs:boolean" />
            <xs:element minOccurs="0" name="UseAirportsNotMetroGroupsForTo" type="xs:boolean" />
            <xs:element name="DateOfDeparture" type="xs:dateTime" />
            <xs:element name="FareTypeCategory" type="xs:int" />
            <xs:element name="FareClass" nillable="true" type="xs:string" />
            <xs:element name="FareBasisCode" nillable="true" type="xs:string" />
            <xs:element name="Cabin" nillable="true" type="xs:string" />
            <xs:element name="LFID" type="xs:int" />
            <xs:element name="OperatingCarrierCode" nillable="true" type="xs:string" />
            <xs:element name="MarketingCarrierCode" nillable="true" type="xs:string" />
            <xs:element name="NumberOfDaysBefore" type="xs:int" />
            <xs:element name="NumberOfDaysAfter" type="xs:int" />
            <xs:element name="LanguageCode" nillable="true" type="xs:string" />
            <xs:element name="TicketPackageID" nillable="true" type="xs:string" />
            <xs:element name="FareQuoteRequestInfos" nillable="true" type="tns:ArrayOfFareQuoteRequestInfo" />
            <xs:element minOccurs="0" name="OverrideEffectiveDate" type="xs:dateTime" /></xs:sequence>
    </xs:complexType>
    <xs:element name="FareQuoteDetail" nillable="true" type="tns:FareQuoteDetail" />
    <xs:complexType name="ArrayOfFareQuoteRequestInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="FareQuoteRequestInfo" nillable="true" type="tns:FareQuoteRequestInfo"
            /></xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfFareQuoteRequestInfo" nillable="true" type="tns:ArrayOfFareQuoteRequestInfo" />
    <xs:complexType name="FareQuoteRequestInfo">
        <xs:sequence>
            <xs:element name="PassengerTypeID" type="xs:int" />
            <xs:element name="TotalSeatsRequired" type="xs:int" /></xs:sequence>
    </xs:complexType>
    <xs:element name="FareQuoteRequestInfo" nillable="true" type="tns:FareQuoteRequestInfo" />
    <xs:complexType name="RetrieveFareQuoteByDateRange">
        <xs:complexContent mixed="false">
            <xs:extension base="q5:TransactionInfo" xmlns:q5="http://tempuri.org/Service/Request">
                <xs:sequence>
                    <xs:element name="CurrencyOfFareQuote" nillable="true" type="xs:string" />
                    <xs:element name="PromotionalCode" nillable="true" type="xs:string" />
                    <xs:element name="IataNumberOfRequestor" nillable="true" type="xs:string" />
                    <xs:element name="CorporationID" type="xs:int" />
                    <xs:element name="FareFilterMethod" type="q6:Enums.FareFilterMethodType" xmlns:q6="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="FareGroupMethod" type="q7:Enums.FareGroupMethodType" xmlns:q7="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="InventoryFilterMethod" type="q8:Enums.InventoryFilterMethodType" xmlns:q8="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="FareQuoteDetails" nillable="true" type="tns:ArrayOfFareQuoteDetailDateRange" /></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="RetrieveFareQuoteByDateRange" nillable="true" type="tns:RetrieveFareQuoteByDateRange" />
    <xs:complexType name="ArrayOfFareQuoteDetailDateRange">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="FareQuoteDetailDateRange" nillable="true" type="tns:FareQuoteDetailDateRange"
            /></xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfFareQuoteDetailDateRange" nillable="true" type="tns:ArrayOfFareQuoteDetailDateRange" />
    <xs:complexType name="FareQuoteDetailDateRange">
        <xs:sequence>
            <xs:element name="Origin" nillable="true" type="xs:string" />
            <xs:element name="Destination" nillable="true" type="xs:string" />
            <xs:element name="UseAirportsNotMetroGroups" type="xs:boolean" />
            <xs:element minOccurs="0" name="UseAirportsNotMetroGroupsAsRule" type="xs:boolean" />
            <xs:element minOccurs="0" name="UseAirportsNotMetroGroupsForFrom" type="xs:boolean" />
            <xs:element minOccurs="0" name="UseAirportsNotMetroGroupsForTo" type="xs:boolean" />
            <xs:element name="DateOfDepartureStart" type="xs:dateTime" />
            <xs:element name="DateOfDepartureEnd" type="xs:dateTime" />
            <xs:element name="FareTypeCategory" type="xs:int" />
            <xs:element name="FareClass" nillable="true" type="xs:string" />
            <xs:element name="FareBasisCode" nillable="true" type="xs:string" />
            <xs:element name="Cabin" nillable="true" type="xs:string" />
            <xs:element name="LFID" type="xs:int" />
            <xs:element name="OperatingCarrierCode" nillable="true" type="xs:string" />
            <xs:element name="MarketingCarrierCode" nillable="true" type="xs:string" />
            <xs:element name="LanguageCode" nillable="true" type="xs:string" />
            <xs:element name="TicketPackageID" nillable="true" type="xs:string" />
            <xs:element name="FareQuoteRequestInfos" nillable="true" type="tns:ArrayOfFareQuoteRequestInfo" />
            <xs:element minOccurs="0" name="OverrideEffectiveDate" type="xs:dateTime" /></xs:sequence>
    </xs:complexType>
    <xs:element name="FareQuoteDetailDateRange" nillable="true" type="tns:FareQuoteDetailDateRange" />
    <xs:complexType name="RetrieveSystemFareQuote">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:RetrieveFareQuote">
                <xs:sequence>
                    <xs:element name="ReservationChannel" type="q9:Enumerations.ReservationChannelTypes" xmlns:q9="http://tempuri.org/Service/Request"
                    /></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="RetrieveSystemFareQuote" nillable="true" type="tns:RetrieveSystemFareQuote" />
    <xs:complexType name="RetrieveFareQuoteShop">
        <xs:complexContent mixed="false">
            <xs:extension base="q10:TransactionInfoNoSession" xmlns:q10="http://tempuri.org/Service/Request">
                <xs:sequence>
                    <xs:element name="CurrencyOfFareQuote" type="q10:Enumerations.CurrencyCodeTypes" />
                    <xs:element name="PromotionalCode" nillable="true" type="xs:string" />
                    <xs:element name="IataNumberOfRequestor" nillable="true" type="xs:string" />
                    <xs:element name="CorporationID" type="xs:int" />
                    <xs:element name="FareFilterMethod" type="q11:Enums.FareFilterMethodType" xmlns:q11="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="FareGroupMethod" type="q12:Enums.FareGroupMethodType" xmlns:q12="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="InventoryFilterMethod" type="q13:Enums.InventoryFilterMethodType" xmlns:q13="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="FareQuoteDetails" nillable="true" type="tns:ArrayOfFareQuoteDetail" /></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="RetrieveFareQuoteShop" nillable="true" type="tns:RetrieveFareQuoteShop" />
    <xs:complexType name="RetrieveFareQuoteShopByDateRange">
        <xs:complexContent mixed="false">
            <xs:extension base="q14:TransactionInfoNoSession" xmlns:q14="http://tempuri.org/Service/Request">
                <xs:sequence>
                    <xs:element name="CurrencyOfFareQuote" nillable="true" type="xs:string" />
                    <xs:element name="PromotionalCode" nillable="true" type="xs:string" />
                    <xs:element name="IataNumberOfRequestor" nillable="true" type="xs:string" />
                    <xs:element name="CorporationID" type="xs:int" />
                    <xs:element name="FareFilterMethod" type="q15:Enums.FareFilterMethodType" xmlns:q15="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="FareGroupMethod" type="q16:Enums.FareGroupMethodType" xmlns:q16="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="InventoryFilterMethod" type="q17:Enums.InventoryFilterMethodType" xmlns:q17="http://tempuri.org/Service/Pricing.Request"
                    />
                    <xs:element name="FareQuoteDetails" nillable="true" type="tns:ArrayOfFareQuoteDetailDateRange" /></xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="RetrieveFareQuoteShopByDateRange" nillable="true" type="tns:RetrieveFareQuoteShopByDateRange" /></xs:schema>
