test/request-response-samples/Dummy__ref_element_should_have_correct_namespace_with_overrideElementKey/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.Dummy.com/Common"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:simpletype name="RestrictedStringType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpletype>
    <xs:element name="Order">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="xs:integer"/>
                <xs:element name="Name" type="RestrictedStringType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Result">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Status" type="xs:integer"/>
                <xs:element name="Message" type="RestrictedStringType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

